@mixin vh {
  border: 0;
  clip-path: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@mixin main-text {
  font-family: "Akrobat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

@mixin small-text {
  font-family: "Akrobat", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
}

@mixin title-text {
  font-family: "Akrobat", "Tahoma", sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}

@mixin subtitle-text {
  font-family: "Akrobat", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
