.footer {
  width: 100%;
  height: 260px;
}

.footer__wrapper {
  padding-top: 55px;
  @include container;
}

.footer__social-list {
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
}

.footer__link {
  display: block;
  opacity: .7;
  margin-bottom: 45px;
  text-align: center;

  &:hover {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__link {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding-top: 185px;
  }
}
