.header__wrapper {
  @include container;
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
  padding-top: 20px;
}

.logo-block__text-block {
  color: #fff;
}
