.header {
  width: 100%;
}

.header__wrapper {
  @include container;
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
  padding-top: 20px;
}

.logo-block__text-block {
  color: #fff;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    padding-top: 25px;
  }
}
