.intro {
  width: 100%;
  background: url("../img/square-pattern.png"), linear-gradient(to right, #71126e, #de1a42);
  background-color: #911656;
}

.intro__wrapper {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  padding: 140px 15px 35px;
  margin-left: auto;
  margin-right: auto;
  background: no-repeat url("../img/intro-background-mobile.jpg");
  background-position: center;
}

.intro__title {
  width: 214px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}

.intro__text-destination {
  font-family: $text;
  font-weight: 100;
  font-size: 17px;
}

.intro__text-pantheon {
  font-family: $text;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.intro__text-mars {
  font-family: $text;
  font-weight: 900;
  font-size: 95px;
  line-height: 90px;
}

.intro__video-block {
  position: relative;
  width: 214px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.intro__video {
  display: block;
  background: no-repeat url("../img/intro-video-bg-mobile.png");
  background-size: cover;
  box-shadow: 0px 38px 40px 0px rgba(0, 0, 0, .48);
}

.intro__video-play {
  position: absolute;
  left: calc(50% - 26px);
  top: calc(50% - 26px);
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: $main-color;
  font-size: 0;
  transition: 0.2s;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 3.5px);
    border: 7px solid transparent;
    border-left: 12px solid #fff;
  }

  &:hover,
  &:focus {
    width: 56px;
    height: 56px;
    left: calc(50% - 28px);
    top: calc(50% - 28px);
    cursor: pointer;
  }

  &:active {
    background-color: #bd1b47;
  }

  &:active::before {
    opacity: 0.5;
  }
}

.intro__video-watch {
  @include small-text;
  color: #ffcfdf;
  font-size: 0;
}

.intro__video-description {
  position: absolute;
  width: 120px;
  top: 130px;
  right: 0px;
  @include small-text;
  line-height: 18px;
  color: #ffcfdf;
}

.intro__down-btn {
  display: block;
  width: 59px;
  height: 59px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: $main-color;
  font-size: 0;
  transition: 0.2s;
  opacity: 0.7;
  background: no-repeat center url("../img/icon-btn-down.png"), $main-color;

  &:hover,
  &:focus {
    opacity: 1;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background: no-repeat url("../img/intro-background-tablet.jpg"), linear-gradient(to right, #71126e, #de1a42);
    background-size: cover;
  }

  .intro__wrapper {
    padding-top: 260px;
    background-image: none;
  }

  .intro__title {
    width: 470px;
  }

  .intro__text-mars {
    margin-left: -15px;
    font-size: 215px;
    line-height: 195px;
  }

  .intro__text-destination {
    margin-right: 10px;
    font-size: 36px;
    line-height: 36px;
  }

  .intro__text-pantheon {
    font-size: 36px;
    line-height: 36px;
  }

  .intro__video-block {
    width: 516px;
    height: 259px;
    margin-bottom: 67px;
  }

  .intro__video {
    width: 516px;
    height: 259px;
    margin: 0 auto;
    background: no-repeat url("../img/intro-video-bg-tablet.png");
    background-position: top center;
  }

  .intro__video-play {
    left: calc(36% - 26px);
    font-family: $text;
    font-size: 16px;
    font-weight: 600;

    &:hover,
    &:focus {
      left: calc(36% - 28px);
    }
  }

  .intro__video-description {
    top: 230px;
    right: 30px;
  }

  .intro__video-play span {
    display: block;
    margin-right: -180px;
    color: #fff;
  }

  .intro__video-play:hover span {
    color: $main-color;
  }

  .intro__down-btn {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: no-repeat center url("../img/intro-background-desktop.jpg");
    background-size: cover;
  }

  .intro__wrapper {
    max-width: 1170px;
    padding-top: 215px;
    padding-bottom: 67px;
  }

  .intro__title {
    width: 600px;
  }

  .intro__text-destination,
  .intro__text-pantheon {
    margin: 0;
    font-size: 47px;
  }

  .intro__text-mars {
    font-size: 267px;
    line-height: 225px;
  }

  .intro__video-block {
    width: fit-content;
    height: fit-content;
    margin-bottom: 25px;
  }

  .intro__video {
    width: 580px;
    height: 292px;
    margin-left: -15px;
    background: no-repeat url("../img/intro-video-bg-desktop.png");
    background-position: center;
    background-size: cover;
  }

  .intro__video-description {
    top: 105px;
    right: -180px;

    &::before {
      position: absolute;
      content: "";
      width: 120px;
      height: 1px;
      left: -140px;
      top: 35px;
      background-color: #ff9ebd;
    }
}

  .intro__down-btn {
    margin-left: 0;
    margin-right: auto;
  }
}
