.musk {
  background: url("../img/square-pattern.png");
}

.musk__wrapper {
  @include container;
  padding-top: 35px;
  padding-bottom: 180px;
}

.musk__title {
  margin-top: 0;
  @include title-text;
  color: $main-color;
}

.musk__subtitle {
  @include subtitle-text;
  color: #000;
}

.musk__text {
  @include main-text;
  margin-bottom: 30px;
  color: #4c4c4c;
}

.musk__frame {
  position: relative;
  width: 165px;
  height: 189px;
  border: 10px solid $main-color;
  margin-top: 65px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.musk__photo {
  position: absolute;
  right: 20px;
  top: 20px;
}

.musk__quote {
  display: block;
  margin-bottom: 50px;
  font-family: $text;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: $main-color;
    &::before {
      content: open-quote;
      font-family: $text;
      font-size: 60px;
      line-height: 60px;
    }

    &::after {
      display: none;
    }
}

@media (min-width: $tablet-width) {
  .musk__wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: min-content;
    padding-bottom: 0px;
  }

  .musk__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .musk__subtitle {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .musk__frame {
    margin: 0;
    margin-left: auto;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .musk__quote {
    margin-bottom: 25px;
  }

  .musk__text:first-child {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .musk__text:nth-child(6) {
    grid-column: 1 / 3;
    margin-bottom: 10px;
  }

  .musk__text:last-child {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }
}
