.price {
  background: no-repeat url("../img/price-background-mobile.jpg");
  background-size: cover;
  background-color: #772c87;
}

.price__wrapper {
  @include container;
  padding-top: 220px;
  padding-bottom: 60px;
}

.price__image {
  display: block;
  width: 289px;
  height: 289px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -360px;
}

.price__title {
  @include subtitle-text;
  color: #fff;
}

.price__text {
  @include main-text;
  color: #fff;
  margin-bottom: 65px;
}

.price__cost {
  font-family: $text;
  font-weight: 100;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.price__easy {
  font-family: $text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  color: #fff;
}

.price__button {
  font-family: $text;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #c2529a;
}

.price__cost,
.price__easy,
.price__button {
  display: block;
}

.price__cost {
  margin-bottom: 25px;
}

.price__easy {
  position: relative;
  margin-bottom: 50px;
    &::before {
      position: absolute;
      top: 30px;
      left: 0;
      content: "";
      width: 219px;
      height: 1px;
      background: #fff;
    }
}

.price__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .price {
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 85px;
    background: url("../img/square-pattern.png");
  }

  .price__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-rows: repeat(3, min-content);
    padding-top: 35px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 35px;
    background: no-repeat url("../img/price-background-tablet.jpg");
    background-size: cover;
  }

  .price__image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 253px;
    height: 253px;
    margin-top: -85px;
    margin-left: 15px;
    margin-bottom: 50px;
  }

  .price__title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .price__text {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .price__away {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
  }

  .price__easy {
    margin-right: 40px;
  }

  .price__button {
    width: 200px;
  }
}
